<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :smoothiechoice_id %>
    <%= form.select :smoothiechoice_id, options_from_collection_for_select(@smoothiechoices, "id", "name") %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.label :smoothiechoice_id, "Choose a Smoothie:" %>
 <br>
    <%# form.collection_radio_buttons(:smoothiechoice_id, Smoothiechoice.all, :id, :name) do |b| b.label { b.radio_button + image_tag(b.object.photo, height: "350", width: "400", class:"form-check-label") } end %>
    <%# form.collection_radio_buttons(:smoothiechoice_id, Smoothiechoice.all, :id, :name) do |b| b.label { b.radio_button + image_tag(b.object.photo, height: "350", width: "400", class:"form-check-label") + " " + b.object.name + " - " + b.object.description } 
     end %>

    <%= form.collection_radio_buttons(:smoothiechoice_id, Smoothiechoice.all, :id, :name) do |b| b.label { b.radio_button + image_tag(b.object.photo, height: "350", width: "400") + " " + b.object.name + " - " + b.object.description } end %>
    
    <%# form.collection_radio_buttons(:smoothiechoice_id, Smoothiechoice.all, :id, :name) do |b| b.label { b.radio_button(class:"form-check-input radio") + image_tag(b.object.photo, height: "300", width: "350", class:"figure-img img-fluid rounded ") } end %>
    <%# form.collection_radio_buttons(:smoothiechoice_id, Smoothiechoice.all, :id, :name) do |b| b.label { b.radio_button + image_tag(b.object.photo, height: "300", width: "350", class:"figure-img img-fluid rounded") } end %>
  </div>
    
<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
